@model List<Product>

<h2>Toplam Kayıt : @Model.Count</h2>

<div class="row" style="text-align:center">
    <div style="margin-left:auto;margin-right:auto">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Tedarikçisi</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Category?.CategoryName</td>
                        <td>@item.ProductName</td>
                        <td>@item.UnitPrice</td>
                        <td>@(item.Supplier == null ? Html.Raw(@"<u>Tedarikçisi Yok</u>") : item.Supplier.CompanyName)</td>
                        <td>
                            <a class="btn btn-info" asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId">Detay</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="button" value="Önceki Sayfa" class="btn btn-success page" id="btn-onceki" />
        @ViewBag.Page/@ViewBag.limit
        <input type="button" value="Sonraki Sayfa" class="btn btn-success page" id="btn-sonraki" />
    </div>
</div>